.image-container{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content:space-evenly
}
h1{
    margin-left: 100px;
    color: white; 
}
.movel{
    height:60px;
    width:40px;
    position: relative;
    top:300px;
    left:50px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.mover{
    height:60px;
    width:40px;
    position: relative;
    left:1390px;
    top:-400px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}
