.logo{
    width: 65px;
    height:40px;
}
.logopro{
    margin-left: 10px;
    width: 85px;
    height:40px;
}
.navbar{
    background-color: rgb(35, 35, 35);
}
.navbar button{
    color: white !important;
}
.navbar a{
    color: white !important;
}
.navbar .dropdown-menu{
    background-color: rgb(35, 35, 35);
}
.form-control{
    width:500px;
}